<!DOCTYPE html>
<html lang="es"> <!-- Lenguaje Español-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos - Fine Line Illustrations</title> <!--Título de la página-->
    <link rel="stylesheet" href="./../CSS/estilos.css"> <!-- Vinculamos el proyecto con el proyecto de CSS-->
</head>

<body> <!--Cuerpo-->
    <header> <!--Cabecera-->
        <img class="logo" src="../images/LOGO.png" alt="Logo"> <!-- Importamos en el menu de navegación el logo-->

        <nav> <!--Dentro de la etiqueta de navegación ponemos las 4 páginas diferentes -->
            <ul>
                <li><a href="./../index.html">Inicio</a></li>
                <li><a href="./productos.html" class="activo">Productos</a></li>
                <li><a href="./presupuesto.html">Presupuesto</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
            </ul>   
        </nav>
    </header> <!--Cerramos cabecera-->

    <main> <!--Main-->
        <section class="introduccion"> <!--Abrimos una sección-->
            <h1>Portfolio de Ilustraciones</h1> <!--Título-->
            <div class="grid-productos"> <!-- Abrimos la etiqueta div para agrupar las imágenes de las ilustracion y dale un estilo-->
                <img src="./../images/ilustracion.1.jpg" alt="Ilustración 1" width="950" height="1187"> <!--Immportamos las seis ilustraciones-->
                <img src="./../images/ilustracion.2.jpg" alt="Ilustración 2" width="994" height="1242">
                <img src="./../images/ilustracion.3.jpg" alt="Ilustración 3" width="1062" height="1328">
                <img src="./../images/ilustracion.4.jpg" alt="Ilustración 4" width="1079" height="1349">
                <img src="./../images/ilustracion.5.jpg" alt="Ilustración 5" width="1078" height="1348">
                <img src="./../images/ilustracion.6.jpg" alt="Ilustración 6" width="1092" height="1366">
            </div>
        </section>
    </main> <!--Cerramos main-->

    <footer> <!--Pie de página-->
        <div class="footer-contenido"> <!--Aplicamos la etiqueta div para encapsular y dar un estilo al siguiente contenido-->
        <p>&copy; Fine Line Illustrations - 2025  Todos los derechos reservados</p> <!--Derechos-->
        <p>C. del Duque de Sesto, 7</p><br> <!--Ubicación-->
            <div class="redes"> <!--Encapsulamos de nuevo con otra etiqueta div a los logos utilizamos también "target" para que dirija al usuario a otra pestaña-->
                <a href="https://www.instagram.com/" target="_blank"><img src="./../images/logoIg.png" alt="Instagram"></a>
                <a href="https://x.com/" target="_blank"><img src="./../images/twitterLogo.png" alt="Twitter"></a>
            </div>
        </div>
    </footer> <!--Cerramos el pie de página-->

</body>

</html> <!--Cerramos el proyecto-->
